<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title | default: "Howdy" }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>{{ page.favicon | default: "🤠" }}</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap" rel="stylesheet">
    </head>
    <body class="text-stone-900 bg-stone-50 dark:text-gray-50 dark:bg-gray-800">
        {% include navigation.html %}
        <main
            class="container mx-auto px-5 max-w-prose pt-8 pb-32"
        >
            {{ content }}
        </main>
    </body>
</html>
